/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	background-color: black;
	
	
	}
p { 
	background-color: darkgray;
	
	}
h3 { 
	
	}
a:link { 
	
	}
a:visited { 
	
	}
a:hover, a:focus, a:active { 
	
	}
abbr {
	
	}


/* specific divs */
.page-wrapper { 
	background: url(https://images.hdqwalls.com/download/small-plants-in-white-pots-im-2560x1440.jpg) ;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	border-style: solid;
	border-color:antiquewhite;
	border-width:10px;
	width:100%;
	height:100%;
	margin-top:3px;

	}

.intro { 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	margin-top:0px;
	width: 50%;
	border:groove 2px;
	border-color:gold;

	border-radius: 2px;

	}

header  { 
	margin-top:0px;
	background-color: darkgray;

	}
header h1{
	font-style:oblique;
	position:relative;
	text-align:center;

}
header h2{
	background-color: darkgray;
	
}
	
 .explanation{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	background-color: darkgray;
	color:black;
	border:double 4px;
	border-radius:10px;
	width:50%;
	margin-left:50%;
 }

 .participation{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: darkgray;
	font-size: 20px;
	color:black;
	border: groove 2px;
	border-color:gold;
	border-radius:10px;
	width:50%;

 } 
 .benefits{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: darkgray;
	font-size: 15px;
	color:black;
	border: double;
	border-radius:10px;
	width:50%;
	margin-left:25%;
 }
  .requirements{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: darkgray;
	font-size: 15px;
	color:black;
	border: groove 2px;
	border-color:gold;
	border-radius:5px;
	width:50%;

  }
  .wrapper{
	border: solid 4px;
	border-radius: 3px;
	width:100%;
  }
.summary {
	
	}
.summary p {
	
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {}

footer { 
	border:transparent;
	background-color: white;
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	
	}
.sidebar .wrapper { 
	
	}
.sidebar h3.select { }
	
.sidebar h3.archives { 

	}
.sidebar h3.resources { 
	
	}


.sidebar ul {
	
	}
.sidebar li {
	
	}
.sidebar li a:link {
	
	}
.sidebar li a:visited {
	
	}


.extra1 {
	
	}

	#zen-benefits{
		background-color: darkgray;
		background-image: url();
        padding: 15px;
	}
	#zen-requirements{
		background-color: darkgray;
	}